<footer>
  <h4 class="hp_title"><%= link_to "SKI.com", root_path, class: "footer_logo" %></h4>
  <div class="mb-2">
    <%= link_to "利用規約", page_path('terms'), class: "footer_menu" %>/
    <%= link_to "プライバシーポリシー", page_path('privacy_policy'), class: "footer_menu" %>
  </div>
  <%= Time.current.year %> Copyright SKI.com
</footer>