html, body { 
  height: 100%;
}

body{
  font-family: 'Noto Sans JP', sans-serif !important;
}

.hp_title {
  font-weight: bold;
  letter-spacing: 0.05em;
}

footer {
  height: 120px;
  color : #FFFFFF;
  padding-top: 25px;
  background-color: #19448e;
  width: 100%;
  position: sticky;
  top: 100vh;
}

.notice {
  background-color: #6666FF;
  color: #FFFFFF;
  text-align: center;
}

.alert {
  background-color: #CD5C5C;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: auto !important;
  padding: 0 !important;
}

.pagination {
  justify-content: center;
}

.pagination>li>a {          
  border: none;     
  color: #808080;   
}

.pagination>.active>a {     
  background: #777bce;     
  border-radius: 15px;     
}

.pagination>li>a:hover {        
  border-radius: 15px;   
}

.root_btn {
  text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 0.3rem 2.5rem;
	border: 2px solid #197070;
	background: #197070;
	color: #fff;
	border-radius: 100vh;
	transition: 0.5s;
}

.root_btn:hover {
  background: #fff;
  color: #197070;
  text-decoration: none;
}

td {
  vertical-align: middle !important;
}