footer {
  text-align: center;
  height: 100px;
  color : #FFFFFF;
  padding-top: 30px;
  background-color: #5D99FF;
}

.notice {
  background-color: #6666FF;
  color: #FFFFFF;
  text-align: center;
}

.alert {
  background-color: #FF3300;
  color: #FFFFFF;
  text-align: center;
}