.signup_container {
  padding-top: 20px;
  background-color: #6A5ACD;
}

.sign_title, .useredit_title {
  text-align: center;
  color: #FFFFFF;
}

.profile_title, .devise_link_btn {
  color: #FFFFFF;
}

.devise_link_btn:hover {
  color: #FFFFFF !important;
}

.sign_form {
  margin: 2em auto;
  padding: 1em;
  width: 40%;
  max-width: 100%;
  border: 1px solid #ccc;
  background-color: #FFFFFF;
}@media screen and (max-width:800px) {
  .sign_form {
    width: 70%;
  }
}

.sign_menu, .useredit_menu, .user_icon, .form-check-container {
  text-align: center;
}

.form-group {
  margin-bottom: auto !important;
  padding-bottom: 20px;
}

.signin_container {
  padding-top: 90px;
  background-color: #6A5ACD;
  height: 87vh;
}

.useredit_container {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #6A5ACD;
}

.user_image {
  border-radius: 50%;
}

.alert-danger {
  width: 40%;
  margin: 2em auto;
  text-align: left;
}@media screen and (max-width:800px) {
  .alert-danger {
    width: 70%;
  }
}

.alert-heading {
  font-size: 1.0rem;
  font-weight: bold;
}