.new_review_box, .review_show_box, .new_review_box {
  margin: auto;
  padding: 1em;
  width: 60%;
  max-width: 100%;
  border: 1px solid #ccc;
  background-color: #FFFFFF;
}@media screen and (max-width:800px) {
  .ski_resort_registration_menu {
   width: 70%;
  }
}

.review_box, .new_review_field {
  background-color: #336699;
  height: 87%;
}

.review_edit_btn {
  color: #FFFFFF;
}

.review_edit_btn:hover {
  color: #FFFFFF;
}

.review_delete_btn {
  color: #FFFFFF;
}

.review_delete_btn:hover {
  color: #FFFFFF;
}
