.review_box, .review_show_box {
  margin: auto;
  padding: 1em;
  width: 80%;
  max-width: 100%;
  border: 1px solid #ccc;
  background-color: #fffafa;
}

.review_title {
  color: #19448e;
  text-align: center;
}

.edit_review_field, .new_review_field, .review_show_field{
  background-color: #eaf4fc;
  padding: 5em 0 8em;
}

.comment_box {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #2c2c2f;
}
.comment_box p {
  margin: 0; 
  padding: 0;
}

.comment_title {
  border-bottom: solid 2px black;
  font-weight: bold;
}

.review_edit_btn, .review_delete_btn, .review_edit_btn:hover, .review_delete_btn:hover {
  color: #19448e;
}