.ski_resort_registration_container {
  background-color: #eaf4fc;
}

.ski_resort_show_container {
  padding-top: 40px;
  background-color: #eaf4fc;
}

.ski_resort_registration_menu {
  margin: 2em auto;
  padding: 1em;
  width: 40%;
  max-width: 100%;
  border: 1px solid #ccc;
  background-color: #fffafa;
}@media screen and (max-width:800px) {
  .ski_resort_registration_menu{
    width: 90%;
  }
  }
  
td {
  vertical-align: middle !important;
}

.ski_resort_show_main, .ski_resort_map {
  text-align: center;
  margin: auto;
  padding: 1em;
  width: 60%;
  max-width: 100%;
  border: 1px solid #ccc;
  background-color: #fffafa;
}@media screen and (max-width:800px) {
  .ski_resort_show_main, .ski_resort_map{
  width: 90%;
  }
}

.ski_resort_show_page {
  margin: 2em auto;
  padding: 1em;
  width: 60%;
  max-width: 100%;
  border: 1px solid #ccc;
  background-color: #fffafa;
}@media screen and (max-width:800px) {
  .ski_resort_show_page {
   width: 90%;
  }
}

.ski_resort_hp {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ski_resort_title {
  color: #19448e;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

.gmap_wrapper {
  margin: auto;
  width: 100%;
  padding-top: 50%;
  position: relative;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

