.top_main{
  background-image: image-url("top_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}@media screen and (max-width:768px) {
  .top_main {
    display: none;
    background-image: image-url("top_background_2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.top_box {
  background-color: rgba(175,238,238,0.5);
  width: 70%;
  padding: 20px 20px;
}@media screen and (max-width:768px) {
  .top_box {
    width: 100%;
  }
}

.rank_box {
  margin: 2em auto;
  padding: 1em;
  width: 95%;
  max-width: 100%;
  height: 81%;
  border: 1px solid #ccc;
  background-color: #fffafa;
  color: #19448e;
}

.rank_title, .feature_title, .movie_title {
  color: #666680;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.fa-stack {
  font-size: 3em;
  position: absolute;
}
.fa-stack-1x {
  font-size: 0.8em;
  font-family: monospace;
  margin-top: 8px;
  color: #fff;
}

.resort_feture_box {
  color: #19448e;
}

.feature_link_btn:hover {
  opacity: 0.5;
  text-decoration: none;
}

.top_introduction {
  background-color: #008080;
  color: #fffafa;
}

.introduction_title {
  letter-spacing: 0.15em;
  font-weight: bold;
}

.introduciton_article {
  letter-spacing: 0.15em;
  line-height: 2;
}